<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <title>{{ gettext("Test Document") }}</title>
        <link rel="stylesheet" type="text/css" href="./test.css">
        <style>
            p {
                font-family: "Comic Sans";
            }
        </style>
    </head>
    <body>
        {# test comment #}
        <p>
            {{-
                gettext("{foo}").format(foo="bar")
            -}}
        </p>
        <ul>
            {%- for word in ["spam", "bacon", "eggs"] -%}
                <li>{{ word }}</li>
            {%- end -%}
        </ul>
        <p>
            {% trans %}
                Loads of späm, more bâcõn, much more èggs!
            {% endtrans %}
        </p>
        <pre>
            {% trans name="bar" %}
                foo %(name)s
            {% endtrans %}
        </pre>
    </body>
</html>
